/* General setup */

* {
    box-sizing: border-box;
}
  
body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}
  
  /* Layout */
  
section {
    float: left;
    width: 50%;
}
  
aside {
    float: left;
    width: 30%;
}
  
nav {
    float: left;
    width: 20%;
}
  
footer {
    clear: both;
}
  
header, section, aside, nav, footer {
    padding: 20px;
}


  
  /* header and footer */
  
header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}
  
  /* WRITE YOUR CODE BELOW HERE */
  @font-face {
    font-family: Fredoka ;
    src: url(Fredoka-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;

  }

  @font-face{
    font-family: Kanit ;
    src: url(Kanit-Black.ttf);
    font-weight: normal;
    font-style: normal;
  }

html{
    font-size: 10px;
}
h1{
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    
}
h1,h2{
    font-family: Kanit, sans-serif;
}

h2{
    font-size: 20px;
    letter-spacing:2px;
}

p,li{
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

a{
    font-size: 15px;
    letter-spacing: 0.5px;
    
}

ul{
    list-style-type:circle ;
}

nav li > a{
    text-decoration: none;
    font-family: Fredoka, sans-serif;
}




/* Goes into the section element and targets the level 2 headings paragraph right below it */
h2+p{
    text-indent: 20px;
}

a:hover{
    background-color: aqua;
    text-decoration: none;
}

a:visited{
    color: #a66;
}

a:focus{
    text-decoration: none;
}


a:active{
    background-color: black;
}

a[href^="http"] {
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 13px 13px;
    padding-right: 19px;
}

nav li{
    list-style-type: none;
    border:  2px solid #a66;
   margin: 10px 10px;
   font-size: 2.5rem;
   text-align: center;
   line-height: 2;
   margin-top: 15px;
   width: 100%;
   


}

p,li,a{
    font-family: Fredoka ;
}




