html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
div{
    /* Position of Box */
    width: 400px;
    height: 350px;
    margin: auto;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align:center ;
    border: 2px solid red;

    /* ?Font Size */
    font-size: 1.3em;
    background-color: red;
}
